#chatFriendsList::-webkit-scrollbar, #messageFeed::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background-color: #fff;
}

#chatFriendsList::-webkit-scrollbar-thumb, #messageFeed::-webkit-scrollbar-thumb {
  background: slategray;
  border-radius: 10px;
}

#ChatUniqueFriendList:hover {
  background-color: lightgray;
}