.none-flex-wrap{
  flex-wrap: nowrap;
}


@media (max-width: 760px) {

  .menu-friends{
    display: none;
  }

  .feed-friends{
    margin-left: 13px;
  }
}

@media (min-width: 760px) {

    .m-button-menu-friends{
      display: none;
    }

    .feed-friends{
      margin-left: auto;
    }
}