#ContentProfilePics {
  top: -0.3rem;
  left: -2.7rem;
  width: 4.5vw;
}

#CommentProfilePics {
  top: 50px;
  left: -65px;
  width: 3.7vw;
}

#ContentPosts {
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  box-shadow: 0 6px 10px -4px rgba(0,0,0,0.57);
}

html::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background-color: #fff;
}

html::-webkit-scrollbar-thumb {
  background: slategray;
  border-radius: 10px;
}

#ShowComments:focus, #showCommentForm:focus {
  box-shadow: none;
}