
@media (max-width: 760px) {
  .menu-profile{
    display: none;
  }

  .turn {
    transform: rotate(90deg);

  }

  .d-profile-picture{
    width: 25%;
    margin: auto;
    margin-top: 10%;

  }

  .font-size-name-profile {
    font-size: 160%;
  }

  .fs-info-profile {
    font-size: 65%;
  }

  .section-down {
    background: linear-gradient(65deg, #6f1cf3, #f15ff1);
    height: 50vh;
  }

  .section-feed{
    width: 100vw;
  }



  .color-text-white{
    color: white;
  }

  .button-choice{
    position: absolute;
    top: 38vh;
    width: 100%;

  }


}

@media (min-width: 760px) {

  #app {
    display: flex;
    min-height: 100vh;
  }

  .information-profile {
    margin-top: 50%;
  }


  .fs-1vw{
    font-size: 1vw;
  }

  .font-size-name-profile{
    font-size: 3vw;
  }

  main {
    width: 100%;
    min-height: 100vh;
  }

  .section-up {
    position: static;
    height: 181px;
    background: linear-gradient(65deg, #6f1cf3, #f15ff1);
  }

  .section-flex {
    display: flex;
  }



  .section-down{
    width: 25%;
    min-height: 100vh;
    border-right: solid 1px #95999c;
  }


  .section-feed{
    width: 60%;
  }

  .d-profile-picture{

    position: absolute;
    margin-left: 1%;
    width: 20%;
    top:50px

  }

  .button-choice{
    position: absolute;
    top: 74px;
    width: 55%;
    margin-left: 25px;
  }

  .m-button-menu {
    display: none;
  }

  .d-profile-picture {
    position: absolute;
    margin-left: 1%;
    width: 20%;
    top: 50px;
  }


  body {
  }

}
