
 #profil-img{
   width: 310px;
 }
 .card-body{
   border-radius: 25px;
   color: white;
 }

.info-name{
  height: 382px;
  width: 1140px;
  background-repeat: no-repeat;
}

#cover-img {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

